OPENAI_API_KEY=<key>
ASYNC_PG_CONNECTION_STRING=postgres://<hostname>:<?password>@localhost:5432/lecture_rag
PSYCOPG_CONNECTION_STRING=postgres://<hostname>:<?password>@localhost:5432/lecture_rag
CACHE_ENABLED=false